.pokedexContainer {
    background-image: url(../../images/pokedex-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navLink {
    text-decoration: none;
}

.pagination {
    width: 100%;
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-between;
    padding: 0;
  }

.paginationList {
    width: 1.5rem;
    text-align: center;
    border-radius: 99px;
    border: 1px solid black;
}